.bg--gris{
background-color: darkgray;
}

.m--top-10{
    margin-top: 10px;
}

hr{
    height:3px !important;
}

.esp--separador{
    margin-top: 1rem;
}

.centro-text{
    display:flex;
    align-items: center;
}

#seccion1{
    margin-top: 200px;
}

@media (min-width: 576px) { 
    #sec1{
        margin-top: 150px;
    }
}

.imgnormalizada--img {
    height: 450px;
    max-height: 600px;
}

.imgperfil--img {
    height: 300px;
    max-height: 300px;
}

h1{
    font-family: 'Aclonica', sans-serif;
    color:rgb(34, 1, 8);
}

.estilo--letra{
    font-family: 'Andada Pro', serif;
    color:rgb(82, 10, 10);
}
